In [1]:
import pandas as pd
import openpyxl

In [2]:
data = pd.read_csv('drug_consumption.csv')

In [3]:
## Age recoding
age_col = {
          -0.95197: '18-24',
          -0.07854: '25 - 34',
          0.49788: '35 - 44',
          1.09449: '45 - 54',
          1.82213: '55 - 64',
          2.59171: '65+'
          }
data['Age'] = data['Age'].replace(age_col)

In [4]:
## Gender recoding
gender_col = {
            0.48246: 'Female',
            -0.48246: 'Male'
            }
data['Gender'] = data['Gender'].replace(gender_col)

In [5]:
## Education recoding
education_col = {
            -2.43591: 'Left School Before 16 years',
            -1.73790: 'Left School at 16 years',
            -1.43719: 'Left School at 17 years',
            -1.22751: 'Left School at 18 years',
            -0.61113: 'Some College,No Certificate Or Degree',
            -0.05921: 'Professional Certificate/ Diploma',
            0.45468: 'University Degree',
            1.16365: 'Masters Degree',
            1.98437: 'Doctorate Degree',
            }
data['Education'] = data['Education'].replace(education_col)

In [6]:
## Country recoding
country_col = {
            -0.09765: 'Australia',
            0.24923: 'Canada',
            -0.46841: 'New Zealand',
            -0.28519: 'Other',
            0.21128: 'Republic of Ireland',
            0.96082: 'UK',
            -0.57009: 'USA'
            }
data['Country'] = data['Country'].replace(country_col)

In [7]:
## Ethnicity recoding
ethnicity_col = {
            -0.50212: 'Asian',
            -1.10702: 'Black',
            1.90725: 'Mixed-Black/Asian',
            0.12600: 'Mixed-White/Asian',
            -0.22166: 'Mixed-White/Black',
            0.11440: 'Other',
            -0.31685: 'White'
            }
data['Ethnicity'] = data['Ethnicity'].replace(ethnicity_col)

In [8]:
## Usage recoding
usage_col = {
    'CL0': 'Never Used',
    'CL1': 'Used over a Decade Ago',
    'CL2': 'Used in Last Decade',
    'CL3': 'Used in Last Year',
    'CL4': 'Used in Last Month',
    'CL5': 'Used in Last Week',
    'CL6': 'Used in Last Day',
    }
data['Alcohol'] = data['Alcohol'].replace(usage_col)
data['Amphet'] = data['Amphet'].replace(usage_col)
data['Amyl'] = data['Amyl'].replace(usage_col)
data['Benzos'] = data['Benzos'].replace(usage_col)
data['Caff'] = data['Caff'].replace(usage_col)
data['Cannabis'] = data['Cannabis'].replace(usage_col)
data['Choc'] = data['Choc'].replace(usage_col)
data['Coke'] = data['Coke'].replace(usage_col)
data['Crack'] = data['Crack'].replace(usage_col)
data['Ecstasy'] = data['Ecstasy'].replace(usage_col)
data['Heroin'] = data['Heroin'].replace(usage_col)
data['Ketamine'] = data['Ketamine'].replace(usage_col)
data['Legalh'] = data['Legalh'].replace(usage_col)
data['LSD'] = data['LSD'].replace(usage_col)
data['Meth'] = data['Meth'].replace(usage_col)
data['Mushrooms'] = data['Mushrooms'].replace(usage_col)
data['Nicotine'] = data['Nicotine'].replace(usage_col)
data['Semer'] = data['Semer'].replace(usage_col)
data['VSA'] = data['VSA'].replace(usage_col)

In [9]:
data.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,1,35 - 44,Female,Professional Certificate/ Diploma,UK,Mixed-White/Asian,0.31287,-0.57545,-0.58331,-0.91699,...,Never Used,Never Used,Never Used,Never Used,Never Used,Never Used,Never Used,Used in Last Decade,Never Used,Never Used
1,2,25 - 34,Male,Doctorate Degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,Used in Last Month,Never Used,Used in Last Decade,Never Used,Used in Last Decade,Used in Last Year,Never Used,Used in Last Month,Never Used,Never Used
2,3,35 - 44,Male,Professional Certificate/ Diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,Never Used,Never Used,Never Used,Never Used,Never Used,Never Used,Used over a Decade Ago,Never Used,Never Used,Never Used
3,4,18-24,Female,Masters Degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,Never Used,Never Used,Used in Last Decade,Never Used,Never Used,Never Used,Never Used,Used in Last Decade,Never Used,Never Used
4,5,35 - 44,Female,Doctorate Degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,Used over a Decade Ago,Never Used,Never Used,Used over a Decade Ago,Never Used,Never Used,Used in Last Decade,Used in Last Decade,Never Used,Never Used

In [10]:
drugs = ['Alcohol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine', 'Semer', 'VSA']
drug_counts = pd.DataFrame()
drug_counts = drug_counts.rename_axis('Frequency')
for drug in drugs:
    counts = data[drug].value_counts()
    drug_counts[drug] = counts
drug_counts = drug_counts.fillna(0)
print(drug_counts)

                        Alcohol  Amphet  Amyl  Benzos  Caff  Cannabis  Choc  \
Frequency
Used in Last Week           759      61    14      84   273       185   683
Used in Last Day            505     102     3      95  1385       463   807
Used in Last Month          287      75    24     120   106       140   296
Used in Last Year           198     198    92     236    60       211    54
Used in Last Decade          68     243   237     234    24       266    10
Used over a Decade Ago       34     230   210     116    10       207     3
Never Used                   34     976  1305    1000    27       413    32

                        Coke  Crack  Ecstasy  Heroin  Ketamine  Legalh   LSD  \
Frequency
Used in Last Week         41      9       63      16        33      64    56
Used in Last Day          19      2       21      13         4      67    13
Used in Last Month        99      9      156      24        42     110    97
Used in Last Year        258     59      277      65       129     323   214
Used in Last Decade      270    112      234      94       142     198   177
Used over a Decade Ago   160     67      113      68        45      29   259
Never Used              1038   1627     1021    1605      1490    1094  1069

                        Meth  Mushrooms  Nicotine   Semer   VSA
Frequency
Used in Last Week         48         40       157     0.0    14
Used in Last Day          73          4       610     0.0     7
Used in Last Month        50        115       108     1.0    13
Used in Last Year        149        275       185     2.0    61
Used in Last Decade       97        260       204     3.0   135
Used over a Decade Ago    39        209       193     2.0   200
Never Used              1429        982       428  1877.0  1455

In [11]:
# Define the new order of rows
new_order = ['Used in Last Day'] + [index for index in drug_counts.index if index != 'Used in Last Day']
# Reindex the DataFrame
drug_counts = drug_counts.reindex(new_order)
print(drug_counts)

                        Alcohol  Amphet  Amyl  Benzos  Caff  Cannabis  Choc  \
Frequency
Used in Last Day            505     102     3      95  1385       463   807
Used in Last Week           759      61    14      84   273       185   683
Used in Last Month          287      75    24     120   106       140   296
Used in Last Year           198     198    92     236    60       211    54
Used in Last Decade          68     243   237     234    24       266    10
Used over a Decade Ago       34     230   210     116    10       207     3
Never Used                   34     976  1305    1000    27       413    32

                        Coke  Crack  Ecstasy  Heroin  Ketamine  Legalh   LSD  \
Frequency
Used in Last Day          19      2       21      13         4      67    13
Used in Last Week         41      9       63      16        33      64    56
Used in Last Month        99      9      156      24        42     110    97
Used in Last Year        258     59      277      65       129     323   214
Used in Last Decade      270    112      234      94       142     198   177
Used over a Decade Ago   160     67      113      68        45      29   259
Never Used              1038   1627     1021    1605      1490    1094  1069

                        Meth  Mushrooms  Nicotine   Semer   VSA
Frequency
Used in Last Day          73          4       610     0.0     7
Used in Last Week         48         40       157     0.0    14
Used in Last Month        50        115       108     1.0    13
Used in Last Year        149        275       185     2.0    61
Used in Last Decade       97        260       204     3.0   135
Used over a Decade Ago    39        209       193     2.0   200
Never Used              1429        982       428  1877.0  1455

In [12]:
from openpyxl import Workbook
from openpyxl.styles import PatternFill

wb = Workbook()
ws = wb.active

# Add the DataFrame's header to the worksheet first
ws.append(['Frequency'] + drug_counts.columns.tolist())

# Then add the rest of the data
for index, row in drug_counts.iterrows():
    ws.append([index] + row.tolist())

for row in ws.iter_rows(min_row=1, max_row=drug_counts.shape[0]+1, min_col=1, max_col=1):
    for cell in row:
        cell.fill = PatternFill(start_color="D3D3D3", end_color="D3D3D3", fill_type = "solid")

wb.save('drug_counts.xlsx')

In [13]:
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

wb = load_workbook('drug_counts.xlsx')
ws = wb.active

chart = BarChart()
chart.type = "col"
chart.style = 10
chart.title = "Drug usage frequency per drug"
chart.y_axis.title = 'Frequency'
chart.x_axis.title = 'Drug'
chart.width = 50

# Assuming the drug data is in the rows and the frequency names are in the first column
data = Reference(ws, min_col=1, min_row=2, max_row=ws.max_row, max_col=ws.max_column)
cats = Reference(ws, min_col=2, min_row=1, max_row=1, max_col=ws.max_column)

chart.add_data(data, titles_from_data=True, from_rows=True)
chart.set_categories(cats)
chart.shape = 4
ws.add_chart(chart, "B10")

wb.save('drug_counts.xlsx')